<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- For scheduling exact alarms (Android 12 S, API 31+) -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <!-- For showing notifications (Android 13 T, API 33+) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- To start receiver on boot to reschedule alarms -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- For vibration with notification -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- For foreground service if you decide to use one for playing sound long term -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" /> <!-- Android 14+ -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SimpleAlarms"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"

            android:theme="@style/Theme.SimpleAlarms">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AlarmRing"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:screenOrientation="portrait" />


        <activity
            android:name=".AddAlarm"
            android:parentActivityName=".MainActivity" /> <!-- For Up navigation -->

        <receiver
            android:name=".Receiver"
            android:enabled="true"
            android:exported="false" /> <!-- exported=false if only app components trigger it -->

        <!-- Boot Receiver to reschedule alarms -->
        <receiver
            android:name=".DoneReceiver"
            android:enabled="true"
            android:exported="true"> <!-- Must be exported to receive system broadcast -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" /> <!-- Some devices use this -->
            </intent-filter>
        </receiver>

    </application>

</manifest>
